.searchBarSale {
    width: 300px;
   /* border: 1px none; */
   margin: 0 auto;
}

.popupRowManager {
    /* display: flex; */
    align-items: center;
    text-align: center;
    height: 20vh;
    background-color: white;
    margin: 4px;
}

.popupUpperRowManager {
    /* display: flex; */
    align-items: center;
    text-align: center;
    /* height: 90vh; */
    background-color: white;
    margin: 4px;
}


